
/* Fonts */

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300&display=swap");  
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap");

/* Var */

$main-mono-sans:'IBM Plex Sans';
$main-mono-plex: 'IBM Plex Mono';
$main-color-green: #00F3BB;
$main-color-blue: #0000EC;
$main-color-black: #060A24;
$main-color-white: #fff;
$main-color-deg: radial-gradient(circle, rgba(0,0,254,1) 0%, rgba(0,240,184,1) 100%);

/* Mix Styles */

@mixin textHover {
          font-weight: 50rem;
          font-size: 1.6rem;
          color: $main-color-green;
          letter-spacing: 0;
          line-height: 2.8rem;
          text-decoration: line-through;
}


@mixin buttonStyle {
    display: inline-block;
    background-color: $main-color-green;
    font-family: $main-mono-plex;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    border: none;
    color: $main-color-black;
}

@mixin buttonHover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: $main-color-white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    list-style: none;
    scroll-behavior: smooth;
}


/* Navigation Bar */

  nav {
    background-color: $main-color-white;
    opacity: 95%;
    height: 8rem;
    width: 100%;

    label {      
        &.logo {
          img {
            margin: 2.2rem 0 0 10rem; 
          }          
        }              
    }

    ul {
        top: 0;
        position: sticky;
        float: right;
        margin: 2.6rem 10rem 0 0;

    li {
      display: inline-block;
      line-height: 2.8rem;
      margin: 0 2.8rem;
      
      a {
        font-size: 1.6rem;
        text-decoration: none;
        color: $main-color-black;
        font-family: $main-mono-plex;

        &:hover {
          @include textHover();
          font-family: $main-mono-plex;          
        }
      }
    }
    }

    .checkbtn {
      font-size: 3rem;
      color: $main-color-black;
      float: right;
      margin-top: 1.6rem;
      margin-right: 1.6rem;
      cursor: pointer;
      display: none;
    }

    #check {
      display: none;
    }
  }

@media (max-width: 952px) {

    nav {
     
      label {
        &.logo {
          img {
          margin-left: 1.6rem;
          }
        }
      }

      ul {
        
        li {
          a {
            color: $main-color-white;
            font-size: 1.6rem;
            letter-spacing: 0;
            line-height: 1.6rem;
          }
        }
      }
    }
}

@media (max-width: 950px) {
  nav {
    .checkbtn {
      display: block;
    }
    
    ul {
      position: fixed;
      width: 100%;
      height: 22.4rem;
      background-color: $main-color-blue;
      top: -100%;
      left: 0;
      text-align: left;
      transition: all .5s;
      
      li{
      display: block; 
      margin: 2.4rem 0 0 1.6rem;
      }
    }
  }
  
  #check {
    &:checked ~ ul {
      top: 0;
      margin-top: 6.4rem;
    }
  }
}

/* Main Text */

.main-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 12rem 0 0.5rem 20rem;
  
  .title {
    h1 {
      font-family: $main-mono-sans;
      font-size: 6.4rem;
      color: $main-color-black;
      letter-spacing: 0;
      #world {
        font-size: 6.4rem;
        text-decoration: line-through;
      }
      #dot {
        color: $main-color-blue;
        font-size: 6.4rem;
      }
    }
  }

  .paragraph {
    
    p {
      font-family: $main-mono-plex;
      font-size: 1.6rem;
      color: $main-color-black;
      letter-spacing: 0;
      line-height: 2.4rem;
      text-align: left;
    }

  .paragraph-mobile {
    display: none;
  }    
  }

  .button-title {
    margin-top: 5.6rem;
    button {
      @include buttonStyle();
      width: 22.6rem;
      height: 5.6rem;
      &:hover {
        @include buttonHover();
      }
      a {
        display: inline-block;
        width: 22.6rem;
        height: auto;
        font-family: $main-mono-plex;
        font-size: 1.8rem;
        color: $main-color-black;
        letter-spacing: 0;
        text-align: center;
        line-height: 2.4rem;
        text-decoration: none;
      }
    }
  }
}


main {

  /* Episodes */
.episodes {
  .episodes-title {
    font-family: $main-mono-sans;
    font-weight: normal;
    font-size: 4.8rem;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 18.6rem 0 2.6rem 20rem;
  }

  .background-clip {
    width: 100%;
    height: 100rem;
    position: absolute;
    top: 50rem;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 8%, 100% 0%, 100% 90%, 0% 100%);
    z-index: -1;
  }
  .episodes-spotify {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(58.4rem, 1fr) );
    gap: 7.2rem;
    margin: 0 10rem 0 10rem;
  }
}

/* About */

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  .about-iphone {
    margin: 6.4rem 6.2rem 6.4rem 20rem;    
      img {
        max-width: 45.7rem;
        max-height: 66rem;
      }
  }
  .about-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 2.4rem 0;
    h2 {
      font-family: $main-mono-sans;
      font-size: 4.8rem;
      color: $main-color-black;
      letter-spacing: 0;
    }
    p {      
      margin: 2.4rem 25.6rem 0 0;
      font-family: $main-mono-plex;
      font-size: 1.6rem;
      color: $main-color-black;
      line-height: 2.4rem;
      letter-spacing: 0;
    }
  }
}
}



/* Mobile View */

@media (max-width: 965px) {
 
  .main-text {
    margin: 0 1.6rem 0 1.6rem;
     

  .title {
    display: flex;
    width: 80%;
    h1 {
      justify-content: flex-start;
      font-size: 3.6rem;
      letter-spacing: 0;
      line-height: 4.2rem; 
      #world {
        font-size: 3.6rem;    
      }     
    }  
        }

    .paragraph {
        width: 90%;
        margin-top: 1.6rem;
      p {
        
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 2.2rem;

      &.paragraph-desktop {
        display: none;
      }
      &.paragraph-mobile {        
        display: flex;     
      }
      }

    }
    .button-title {
      display: flex;
      justify-content: center;
      margin: 0;
      & button {
        align-items: center;
        margin: 3.6rem 1.6rem 0 -1.6rem;        
        width: 90%; 
        height: 4.8rem; 
      }
    }
  }

  main {
    .episodes { 
      margin: 0;     
      .episodes-title {
        margin: 8.8rem 0 1.1rem 1.6rem;
        font-family: $main-mono-sans;
        font-size: 3.6rem;
        color: $main-color-white;
        letter-spacing: 0;
        line-height: 4.2rem;
      }

      .background-clip {
        margin-top: -12rem;
        height: 125rem;
        clip-path: polygon(0 2%, 100% 0%, 100% 92%, 0% 96%);
      }

      .episodes-spotify {
        margin: 0 1.1rem 1.1rem 1.1rem;
        gap: 1.1rem;
        grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );       
      }
    }

    .about {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .about-iphone {
        margin: 4.8rem 0 0 0;
      }

      .about-text {
        margin: 2.7rem 0 0 0;

        h2 {
          margin: 0 1.6rem;
          font-family: $main-mono-sans;
          font-size: 3.6rem;
          color: $main-color-black;
          letter-spacing: 0;
          line-height: 4.2rem;
        }
        p {
          margin: .8rem 1.6rem 0 1.6rem;
          font-family: $main-mono-plex;
          font-size: 1.4rem;
          color: #060A24;
          letter-spacing: 0;
          line-height: 2.2rem;
        }
      }
    }
  }
    
}